body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  header {
      
  }
  .parallax-container {
      height: 300px;
  }
  .header {
    .search-extended {
        input {
            margin-bottom: 0!important;
        }
    }
    .card {
        &.active {
            background: rgba(255,255,255,1);
        }
        .link {
            color:blue;
        }
    }
    .input-field input[type=search] {
        height: 3rem;
        padding-left: 4rem;
        width: calc(100% - 4rem);
        border-bottom-color: transparent;
        box-shadow: none;
    }
    .container {
        &>.row {
            margin-bottom: 0;
        }
        .col.l10 {
            .row {
                margin-bottom: 0;
            }
        }
    }
    .nav-extended.transparent {
        background: #fff;
        background: -moz-linear-gradient(top,#fff 0,#e0e0e0 50%,#fff 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(50%,#e0e0e0),color-stop(100%,#fff));
        background: -webkit-linear-gradient(top,#fff 0,#e0e0e0 50%,#fff 100%);
        background: -o-linear-gradient(top,#fff 0,#e0e0e0 50%,#fff 100%);
        background: -ms-linear-gradient(top,#fff 0,#e0e0e0 50%,#fff 100%);
        background: linear-gradient(top,#fff 0,#e0e0e0 50%,#fff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff',GradientType=0);
    }
  }
  .input-field input[type=search] ~ .mdi-navigation-close, .input-field input[type=search] ~ .material-icons {
      font-size: 1.5rem;
      top:50%;
      transform: translateY(-50%);
  }
  .carousel {
      .carousel-item {
        display: flex!important;
        align-items: center;
        padding: 0 10px;
      }
    }
.carousel.carousel-slider {
    .carousel-item {
        .container {
            position: relative;
            z-index: 2;
            background: rgba(0,0,0,.5);
            padding:50px 50px 100px;
            border-radius: 3px;
            p {
                font-size: 22px;
            }
        }
        &.red.qual:before {
            content: "";
            position: absolute;
            z-index: 1;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../images/bg/mix1-big.jpg);
            background-size: cover;
            filter: blur(2px);
        }
        &.amber.cenn:before {
            content: "";
            position: absolute;
            z-index: 1;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: blur(2px);
            background: url(../images/bg/tbl-big.jpg);
            background-size: cover;
        }
        &.green.trnsp:before {
            content: "";
            position: absolute;
            z-index: 1;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: blur(4px);
            background: url(../images/bg/trnsp-big.jpg);
            background-size: cover;
        }
        &.blue.wrk:before {
            content: "";
            position: absolute;
            z-index: 1;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: blur(2px);
            background: url(../images/bg/wrk-big.jpg);
            background-size: cover;
        }
    }
}