body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  header {
      
  }
  .parallax-container {
      height: 300px;
  }
  .header {
    .search-extended {
        input {
            margin-bottom: 0!important;
        }
    }
    .card {
        &.active {
            background: rgba(255,255,255,1);
        }
        .link {
            color:blue;
        }
    }
    .input-field input[type=search] {
        height: 3rem;
        padding-left: 4rem;
        width: calc(100% - 4rem);
        border-bottom-color: transparent;
        box-shadow: none;
    }
    .container {
        &>.row {
            margin-bottom: 0;
        }
        .col.l10 {
            .row {
                margin-bottom: 0;
            }
        }
    }
    .nav-extended.transparent {
        background: #fff;
        background: -moz-linear-gradient(top,#fff 0,#e0e0e0 50%,#fff 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(50%,#e0e0e0),color-stop(100%,#fff));
        background: -webkit-linear-gradient(top,#fff 0,#e0e0e0 50%,#fff 100%);
        background: -o-linear-gradient(top,#fff 0,#e0e0e0 50%,#fff 100%);
        background: -ms-linear-gradient(top,#fff 0,#e0e0e0 50%,#fff 100%);
        background: linear-gradient(top,#fff 0,#e0e0e0 50%,#fff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff',GradientType=0);
    }
  }
  .input-field input[type=search] ~ .mdi-navigation-close, .input-field input[type=search] ~ .material-icons {
      font-size: 1.5rem;
      top:50%;
      transform: translateY(-50%);
  }
  .carousel {
      .carousel-item {
        display: flex!important;
        align-items: center;
        padding: 0 10px;
      }
    }
.carousel.carousel-slider {
    .carousel-item {
        .container {
            position: relative;
            z-index: 2;
            background: rgba(0,0,0,.5);
            padding:50px 50px 100px;
            border-radius: 3px;
            p {
                // font-size: 22px;
                font-size: 1.5vw;
            }
        }
        &.red.qual:before {
            content: "";
            position: absolute;
            z-index: 1;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../images/bg/mix1-big.jpg);
            background-size: cover;
            filter: blur(2px);
        }
        &.amber.cenn:before {
            content: "";
            position: absolute;
            z-index: 1;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: blur(2px);
            background: url(../images/bg/tbl-big.jpg);
            background-size: cover;
        }
        &.green.trnsp:before {
            content: "";
            position: absolute;
            z-index: 1;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: blur(4px);
            background: url(../images/bg/trnsp-big.jpg);
            background-size: cover;
        }
        &.blue.wrk:before {
            content: "";
            position: absolute;
            z-index: 1;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: blur(2px);
            background: url(../images/bg/wrk-big.jpg);
            background-size: cover;
        }
    }
}
.row {
    &.m-flex {
        display: flex;
        justify-content: space-between;
    }
    &.m-relative {
        position: relative;
    }
}
.drop-down {
    position: absolute;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    top:100%;
    left:11px;
    width: calc(100% - 22px);
    transition: opacity .3s ease-in-out,top .3s ease-in-out,visibility .3s ease-in-out;
}
.hover-action{
    &:hover {
        .drop-down {
            opacity: 1;
            visibility: visible;
            top:calc(80% + 1px);
        }
        .btn {
            &.arrw:after {
                opacity: 1;
                visibility: visible;
                top: 92%;
            }
        }
    }
    .btn {
        text-transform: none;
        position: relative;
        overflow: visible;
        font-size: 0.9vw;
        white-space: nowrap;
        &.arrw:after {
            content: "";
            display: inline-block;
            width: 1px;
            height: 1px;
            border: solid 6px transparent;
            border-bottom-color: white;
            position: absolute;
            top: 125%;
            z-index: 100;
            left: 50%;
            margin-left: -6px;
            opacity: 0;
            visibility: hidden;
            transition: opacity .3s ease-in-out,top .3s ease-in-out,visibility .3s ease-in-out;
        }
    }
}
.logo {
    padding: 10px 0 0 0;
    text-align: center;
    transition: transform .2s;
    line-height: 50px;
}
.card {
    &.scaled {
        transition: height;
        max-width: 200px;
    }
}
.header .nav-extended {
    .container>.row{
        &:first-child {
            margin-bottom: 0px;
            transition: margin-bottom .3s;
            h6 {
                font-size: 0.95em;
            }
        }
    }
    .nav-content {
        background: #1e5799; /* Old browsers */
        background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 55%, #207cca 56%, #7db9e8 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 55%,#207cca 56%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #1e5799 0%,#2989d8 55%,#207cca 56%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    }
}
.is-fixed {
    padding-top: 203px;
    .header {
        position: fixed;
        top:0;
        z-index: 100;
        width:100%;
        .container.nav-wrapper {
            display: none;
        }
    }
    .logo {
        transform: scale(0.5) translateY(-48px);;
    }
    .card {
        &.scaled {
            height: 60px;
        }
    }
    .col {
        &.hover-action {
            margin-top: -5px;
        }
    }
    .header .nav-extended .container>.row{
        &:first-child {
            margin-bottom: -15px;
        }
    }
}
nav .drop-down ul a:hover {
    background-color: transparent;
    text-decoration: underline;
}
svg:not(:root) {
    max-width: 100%;
}