.section
    .row
.section
    .row
        .carousel.carousel-slider(data-indicators="true")
            .carousel-fixed-item.center
                a.btn.waves-effect.white.grey-text.darken-text-2.hoverable О компании

            .carousel-item.red.white-text(href="#one!")
                .container
                    h2 Качество - наш девиз
                    p.white-text.flow-text
                        |Каждый вносит свой вклад в успех и несет ответственность за качество своей работы. Мы ставим перед собой амбициозные цели и постоянно работаем над совершенствованием своих профессиональных навыков. Открытое и уважительное сотрудничество - основа нашего успеха, выдержавшего испытание временем.
            .carousel-item.amber.white-text(href="#two!")
                .container
                    h2 Ценности и принципы компании 
                    p.white-text.flow-text
                        |Во главу угла всей нашей деятельности поставлен клиент 
                        br
                        |Мы действуем в интересах наших клиентов и всегда стремимся предоставить наилучшее качество. Мы гарантируем эффективность и выгоду для клиента во всем, что мы делаем. Мы постоянно и повсеместно работаем над поисками идеальных точек соприкосновения. 

            .carousel-item.green.white-text(href="#three!")
                .container
                    h2 Опт и розница - любые объемы
                    p.white-text.flow-text
                        |Мы придерживаемся принципов уважительного общения и взаимного доверия. Важную роль для нас играют честность, надежность, порядочность и профессионализм. Решения открыто обсуждаются сотрудниками, принимаются и воплощаются сообща. Мы уважаем каждого и открыты для новых идей. 
            .carousel-item.blue.white-text(href="#four!")
                
                .container
                    h2 Ответственный подход 
                    p.white-text.flow-text
                        |Мы самостоятельно и своевременно выполняем поставленные задачи. Мы несем ответственность за свою работу, свои решения и их последствия. Мы не закрываем глаза на проблемы, а самостоятельно ищем пути их решения.

.section
    .container
        .row
            .col.l4.s12
                .card.hoverable
                    .card-content
                        .card-title Новости
                        p текст
                    .card-action
                        a.link(href="#!") aaa
            .col.l4.s12
                .card.hoverable
                    .card-content
                        .card-title Акции и распродажи
                        p текст
                    .card-action
                        a.link(href="#!") aaa
            .col.l4.s12
                .card.hoverable
                    .card-content
                        .card-title Популярные товары
                        p текст
                    .card-action
                        a.link(href="#!") aaa

.parallax-container
    .parallax
        img(src="assets/images/big-u.png", alt="big U")

.section
    .container
        .row
            .col.s12.m12
                .card.hoverable
                    .card-content
                        h3.center У нас Вы можете
                    .card-tabs
                        ul.tabs.tabs-fixed-width
                            li.tab
                                a.link(href="#text1") Заказать установку и монтаж
                            li.tab
                                a.link(href="#text2") Заказать мебель
                            li.tab
                                a.link(href="#text3") Получить консультацию специалиста
                    .card-content.grey.lighten-4
                        div#text1
                            .row
                                .col.l5.s12.offset-l1
                                    h5
                                        |Все что остается Вам &mdash;
                                        br
                                        |это рассказать мастеру, 
                                        br
                                        |что вы хотите.
                                        a.waves-effect.waves-circle.waves-light.btn-floating.secondary-content.hoverable(href="#!")
                                            i.material-icons chevron_right
                                .col.l6.s12
                                    
                        div#text2
                            .row
                                .col.l5.s12.offset-l1
                                    h5
                                        |Изготовление мебели на заказ, в нашем интернет магазине 
                                        a.link(href="#!") ultra-f.ru 
                                        | – 
                                        br
                                        | это не только удобно и практично, но так же является показателем хорошего социального статуса.
                                        a.waves-effect.waves-circle.waves-light.btn-floating.secondary-content.hoverable(href="#!")
                                            i.material-icons chevron_right
                        div#text3
                            .row
                                .col.l5.s12.offset-l1
                                    h5
                                        |Кконсультация специалиста по всему ассортименту
                                        br
                                        |Предостовление инстукций по монтажу
                                        br
                                        |Помощь в проектировании поставленных задач
                                        br
                                        |Выезд на обьект, замер,

                                        a.waves-effect.waves-circle.waves-light.btn-floating.secondary-content.hoverable(href="#!")
                                            i.material-icons chevron_right
.divider
.section
    .container
        .row
            .col.s12.m12.center
                .carousel.logos
                    .card.carousel-item
                        a(href="#1!")
                            img.responsive-img(src="assets/images/badge-large-jado.jpg", alt="Jado")
                    .card.carousel-item
                        a(href="#2!")
                            img.responsive-img(src="assets/images/default-logo.png", alt="")
                    .card.carousel-item
                        a(href="#3!")
                            img.responsive-img(src="assets/images/fsb-logo-dark.png", alt="")
                    .card.carousel-item
                        a(href="#4!")
                            img.responsive-img(src="assets/images/Logo-HOPPE-DE.png", alt="")
                    .card.carousel-item
                        a(href="#5!")
                            img.responsive-img(src="assets/images/logo_haefele_new.gif", alt="")
                    .card.carousel-item
                        a(href="#6!")
                            img.responsive-img(src="assets/images/scheitter_hover.png", alt="")
                    .card.carousel-item
                        a(href="#7!")
                            img.responsive-img(src="assets/images/sommerer_hover.png", alt="")
                    .card.carousel-item
                        a(href="#8!")
                            img.responsive-img(src="assets/images/VV-mini.jpg", alt="")