.section.hide-on-med-and-down
    .row
        .carousel.carousel-slider(data-indicators="true")
            .carousel-fixed-item.center
                a.btn.waves-effect.white.grey-text.darken-text-2.hoverable О компании
            .carousel-item.red.qual.white-text(href="#one")
                .container
                    h2 Качество - наш девиз
                    p.white-text.flow-text
                        |Каждый вносит свой вклад в успех и несет ответственность за качество своей работы. Мы ставим перед собой амбициозные цели и постоянно работаем над совершенствованием своих профессиональных навыков. Открытое и уважительное сотрудничество - основа нашего успеха, выдержавшего испытание временем.
            .carousel-item.amber.cenn.white-text(href="#two")
                .container
                    h2 Ценности и принципы компании 
                    p.white-text.flow-text
                        |Мы действуем в интересах наших клиентов и всегда стремимся предоставить наилучшее качество. Гарантируем эффективность и выгоду для клиента. 
                        br 
                        |Постоянно работаем над поисками идеальных точек соприкосновения. 

            .carousel-item.green.trnsp.white-text(href="#three")
                .container
                    h2 Опт и розница - любые объемы
                    p.white-text.flow-text
                        |Мы придерживаемся принципов уважительного общения и взаимного доверия. Важную роль для нас играют честность, надежность, порядочность и профессионализм. 
                        br 
                        |Решения открыто обсуждаются сотрудниками, принимаются и воплощаются сообща. 
                        br
                        |Уважаем каждого и открыты для новых идей. 
            .carousel-item.blue.wrk.white-text(href="#four")                
                .container
                    h2 Ответственный подход 
                    p.white-text.flow-text
                        |Cамостоятельно и своевременно выполняем поставленные задачи. Несем ответственность за свою работу, свои решения и их последствия. Не закрываем глаза на проблемы, а самостоятельно ищем пути их решения.

.section
    .container
        .row
            .col.l4.s12
                span.title Новости
                a(href="#!").right Все новости
                .card.hoverable
                    .card-image
                        img(src="http://fakeimg.pl/285x100/").waves-effect.waves-block.waves-light
                        //- span.card-title Запущен новый дизайн сайта
                    .card-content
                        span.card-title.activator.grey-text.text-darken-4 Обновление дизайна
                            i.material-icons.right more_vert
                    .card-action
                            a(href="#!") Перейти к новости 
                    .card-reveal
                        span.card-title.grey-text.text-darken-4 Обновлен дизайн сайта
                            i.material-icons.right close
                        p Обновлен дизайн сайта, появились новые разделы!
                .card.hoverable
                    .card-image
                        img(src="http://fakeimg.pl/285x100/").waves-effect.waves-block.waves-light
                        //- span.card-title Запущен новый дизайн сайта
                    .card-content
                        span.card-title.activator.grey-text.text-darken-4 Обновление каталога
                            i.material-icons.right more_vert
                    .card-action
                            a(href="#!") Перейти к новости 
                    .card-reveal
                        span.card-title.grey-text.text-darken-4 Обновление каталога
                            i.material-icons.right close
                        p Добавлены новые товары в раздел&nbsp;
                            a(href="#1") Дверные петли
                    //- .card-action
                        ul
                            li
                                .row
                                    .col.s12
                                        img(src="http://fakeimg.pl/285x100/")
                                .row
                                    .col.s12
                                        | 10.02.2018: &nbsp
                                        
                                .row
                                    .col.s6.offset-s6
                                        a.link.right(href="#!") Подробнее
                            li
                                .row
                                    .col.s12
                                        img(src="http://fakeimg.pl/285x100/")
                                .row
                                    .col.s12
                                        | 12.02.2018: &nbsp
                                        strong Пополнение раздела мебельные петли!
                                .row
                                    .col.s6.offset-s6
                                        a.link.right(href="#!") Подробнее
                            li
                                .row
                                    .col.s12
                                        img(src="http://fakeimg.pl/285x100/")
                                .row
                                    .col.s12
                                        | 14.02.2018: &nbsp
                                        strong Добавлена новая услуга - консультация специалиста!
                                .row
                                    .col.s6.offset-s6
                                        a.link.right(href="#!") Подробнее
            .col.l4.s12
                span.title Акции и распродажи
                a(href="#!").right Все акции
                .card.hoverable
                    .card-image.waves-effect.waves-block.waves-light
                        a(href="#!")
                            img(src="http://fakeimg.pl/285x100/", alt="img")
                        .card-title.home Акция
                    .card-content
                        p В связи с запуском новых моделей мебельных ручек - большая скидка на остатки на складе
                    .card-action
                        a.link(href="#!") Подробнее
                .card.hoverable
                    .card-image.waves-effect.waves-block.waves-light
                        a(href="#!")
                            img(src="http://fakeimg.pl/285x100/", alt="img")
                        .card-title Новинка
                    .card-content
                        p Новый вид магнитов для мебели!
                    .card-action
                        a.link(href="#!") Подробнее
                .card.hoverable
                    .card-content
                        .card-title Распродажа
                        p Сезонная скидка на минификсы!
                    .card-action
                        a.link(href="#!") Подробнее
            .col.l4.s12
                span.title Популярные товары
                a(href="#!").right Каталог
                .card.hoverable
                    .card-image.waves-effect.waves-block.waves-light
                        a(href="#!")
                            img(src="http://fakeimg.pl/285x100/", alt="img")
                    .card-content
                        .card-title Популярный товар
                        p текст
                        a.link(href="#!") Перейти к товару
                    .card-action.red.darken-4.white-text
                        p Цена 25 8888,22 р
                            a.link(href="#!").right Купить


.parallax-container
    .parallax
        img(src="assets/images/big-u.png", alt="big U")

.section
    .container
        .row
            .col.s12.m12
                .card.hoverable
                    .card-content
                        h3.center У нас Вы можете
                    .card-tabs
                        ul.tabs.tabs-fixed-width
                            li.tab
                                a.link(href="#text1") Заказать установку и монтаж
                            li.tab
                                a.link(href="#text2") Заказать мебель
                            li.tab
                                a.link(href="#text3") Получить консультацию специалиста
                    .card-content.grey.lighten-4
                        div#text1
                            .row
                                .col.l5.s12.offset-l1
                                    h5
                                        |Все что остается Вам &mdash;
                                        br
                                        |это рассказать мастеру, 
                                        br
                                        |что вы хотите.
                                        a.waves-effect.waves-circle.waves-light.btn-floating.secondary-content.hoverable(href="#!")
                                            i.material-icons message
                                .col.l6.s12
                                    
                        div#text2
                            .row
                                .col.l5.s12.offset-l1
                                    h5
                                        |Изготовление мебели на заказ, в нашем интернет магазине 
                                        a.link(href="#!") ultra-f.ru 
                                        | – 
                                        br
                                        | это не только удобно и практично, но так же является показателем хорошего социального статуса.
                                        a.waves-effect.waves-circle.waves-light.btn-floating.secondary-content.hoverable(href="#!")
                                            i.material-icons message
                        div#text3
                            .row
                                .col.l5.s12.offset-l1
                                    h5
                                        |Консультация специалиста по всему ассортименту
                                        br
                                        |Инстукции по монтажу
                                        br
                                        |Помощь в проектировании поставленных задач
                                        br
                                        |Выезд на обьект, замер

                                        a.waves-effect.waves-light.btn-floating.secondary-content.hoverable(href="#!")
                                            i.material-icons message
.divider
.section
    .container
        .row
            .col.s12.m12.center
                .carousel.logos
                    .card.carousel-item
                        a(href="#1!")
                            img.responsive-img(src="assets/images/badge-large-jado.jpg", alt="Jado")
                    .card.carousel-item
                        a(href="#2!")
                            img.responsive-img(src="assets/images/default-logo.png", alt="")
                    .card.carousel-item
                        a(href="#3!")
                            img.responsive-img(src="assets/images/fsb-logo-dark.png", alt="")
                    .card.carousel-item
                        a(href="#4!")
                            img.responsive-img(src="assets/images/Logo-HOPPE-DE.png", alt="")
                    .card.carousel-item
                        a(href="#5!")
                            img.responsive-img(src="assets/images/logo_haefele_new.gif", alt="")
                    .card.carousel-item
                        a(href="#6!")
                            img.responsive-img(src="assets/images/scheitter_hover.png", alt="")
                    .card.carousel-item
                        a(href="#7!")
                            img.responsive-img(src="assets/images/sommerer_hover.png", alt="")
                    .card.carousel-item
                        a(href="#8!")
                            img.responsive-img(src="assets/images/VV-mini.jpg", alt="")
.section.blue-grey.darken-2
    .container
        .row
            .col.l12.s12
                h3.white-text Как нас найти
        .row
            .card-panel.blue-grey.hoverable
                iframe(src="https://yandex.ru/map-widget/v1/-/CBatr4WBHB" width="100%" height="400" frameborder="0")
.section
    .container
        .row
            .col.l12.s12
                h3 Остались вопросы?
        .row
            .col.l1.s12
                h5 
                    a.btn-floating.right.green
                        i.material-icons question_answer
            .col.l5.s12
                h5
                    | Посмотрите в нашей 
                    a.link(href="#!") справке по сайту
            .col.l1.s12
                h5 
                    a.btn-floating.right.green
                        i.material-icons collections
            .col.l5.s12
                h5 Загляните в 
                    a.link(href="#!") полный каталог
        .row
            .col.l1.s12
                h5 
                    a.btn-floating.waves-effect.waves-light.right.red.darken-3.pulse.hoverable.modal-trigger(href="#callback")
                        i.material-icons local_phone
            .col.l5.s12
                h5
                    | Закажите 
                    a.modal-trigger(href="#callback") обратный звонок,
                    br
                    | и мы обязательно перезвоним!
            .col.l1.s12
                h5 
                    a.btn-floating.right.green
                        i.material-icons collections
            .col.l5.s12
                h5 Рассчитайте навесную панель &nbsp;
                    a.link(href="#!") в калькуляторе веса