header.header
    .nav-extended.transparent(role="navigation")
        .container.nav-wrapper
            .row
                .col.s12.m4.l6.blue-text.darken-4-text
                    h6.valign-wrapper
                        | РЕЖИМ РАБОТЫ: Будни: 9-00 - 18-00, суббота: 11-00 - 18-00, 
                        br
                        | выходной: воскресенье
                .col.s12.m4.l3
                    h6.valign-wrapper
                        i.small.material-icons.left.light-blue-text contact_mail
                        a.link(href="mailto:office@ultra-f.ru") office@ultra-f.ru            
                .col.s12.m4.l3
                    h6.valign-wrapper
                        i.small.material-icons.left.light-blue-text contact_phone
                        a.link(href="tel:+74957902303")
                            strong +7 (495) 790-23-03
                .col.s12.m4.l3
                    h6.valign-wrapper
                        i.small.material-icons.left.light-blue-text contact_phone
                        a.link(href="tel:+78003011211") 
                            strong +7 (800) 301-12-11
        nav.nav-content.nav-extended.light-blue.darken-4
            .container
                .row.valign-wrapper
                    .col.l2.s12
                        .card.scaled.hovered
                            .logo
                                a.link(href="/")
                                    include ../../svg/ultra-logo.svg
                    .col.l10.s12
                        ul.light-blue.darken-4.hide-on-med-and-down(id="nav-mobile").center
                            li
                                a.waves-effect.waves-light(href="#!") Главная
                            li
                                a.waves-effect.waves-light(href="#!") О компании
                            li
                                a.waves-effect.waves-light(href="#!") Новости и обзоры
                            li
                                a.waves-effect.waves-light(href="#!") Доставка и оплата
                            li
                                a.waves-effect.waves-light(href="#!") Контакты
                            li
                                a.waves-effect.waves-light(href="#!") Отзывы
                            li.right
                                //- a.btn.white.link.hoverable(href="/catalog")
                                    img(src="assets/images/logo_haefele_new.gif", alt="Hafele" width="100")
                                a.waves-effect.waves-light.btn-floating.white-text.red.darken-3.pulse.hoverable.modal-trigger(href="#callback" title="Заказать обратный звонок")
                                    i.material-icons.left.white-text local_phone
                                a.waves-effect.waves-light.btn-floating.white-text.transparent.hoverable.dropdown-trigger.dropdown-button(href="#card1")
                                    i.material-icons shopping_cart
                                ul.dropdown-content#card1 
                                    li 
                                        a(href="#1") one
                                    li 
                                        a(href="#1") one
                                    li.divider 
                                    li
                                        a(href="#1") one

                                a.waves-effect.waves-light.btn-floating.white-text.transparent.hoverable.modal-trigger(href="#search1")
                                    i.tiny.material-icons search
                .row.m-flex.m-relative.dropnav
                    .col
                        .hover-action
                            a.btn.btn-small.white.waves-effect.waves-orange.blue-text(href="/catalog/") Каталог
                    .col
                        .hover-action
                            a.btn.purple.waves-effect.waves-orange.arrw Для мебели
                            .drop-down
                                .card#nav2
                                    .card-content.lighten-4
                                        div
                                            .row
                                                .col.l4.s12
                                                    ul.list
                                                        li
                                                            h5
                                                                strong
                                                                    a.link.purple-text.flow-text(href="/catalog/mebelnaya-furnitura/") Мебельная фурнитура
                                                        li
                                                            h5
                                                                strong
                                                                    a.link.purple-text.flow-text(href="/catalog/ergonomichnoe-polozhenie-ekrana/") Все виды петель
                                                        li
                                                            h5
                                                                strong
                                                                    a.link.purple-text.flow-text(href="http://ultra-f.ru/catalog/eksklyuziv-tolko-u-nas/") Мебельные ручки фасадов
                                                        li
                                                            h5
                                                                strong
                                                                    a.link.purple-text.flow-text(href="http://ultra-f.ru/catalog/sistemyi-vyidvizhenyix-yashhikov/") Направляющие ящиков и шкафов
                                                .col.l4.s12
                                                    ul.list
                                                        li
                                                            h5
                                                                strong
                                                                    a.link.purple-text.flow-text(href="http://ultra-f.ru/catalog/sistemyi-otkryivaniya-kuxonnyix-fasadov/") Системы открывания мебельных фасадов
                                                        li
                                                            h5
                                                                strong
                                                                    a.link.purple-text.flow-text(href="http://ultra-f.ru/catalog/kuxonnyie-aksessuary/") Кухонные аксессуары
                                                        li
                                                            h5
                                                                strong
                                                                    a.link.purple-text.flow-text(href="http://ultra-f.ru/catalog/mebel/") Мебель, предметы интерьера
                                                        li
                                                            h5
                                                                strong
                                                                    a.link.purple-text.flow-text(href="http://ultra-f.ru/catalog/elektrika/") Электрика мебельная
                                                                    
                                                .col.l4.s12
                                                    .card.hoverable
                                                        .card-image.waves-effect.waves-block.waves-light
                                                            a(href="#!")
                                                                img(src="http://fakeimg.pl/285x100/", alt="img")
                                                        .card-content
                                                            .card-title.black-text Популярный товар
                                                            a.link(href="#!") Перейти к товару
                                                        .card-action.red.darken-4.white-text
                                                            p Цена 25 8888,22 р
                                                                a.link(href="#!").right Купить
                    .col
                        .hover-action
                            a.btn.red.darken-1.waves-effect.waves-orange.arrw Для окон и дверей
                            .drop-down
                                .card#nav3
                                    .card-content.lighten-4
                                        div
                                            .row
                                                .col.l4.s12
                                                    ul.list
                                                        li
                                                            h5
                                                                strong
                                                                    a.link.red-text.flow-text(href="http://ultra-f.ru/catalog/dvernaja-okonnaja-furnitura/") Дверная и оконная фурнитура
                                                .col.l4.s12
                                                    ul.list
                                                        li
                                                            h5
                                                                strong
                                                                    a.link.red-text.flow-text(href="http://ultra-f.ru/catalog/ergonomichnoe-polozhenie-ekrana/") Все виды петель
                                                .col.l4.s12
                                                    .card.hoverable
                                                        .card-image.waves-effect.waves-block.waves-light
                                                            a(href="#!")
                                                                img(src="http://fakeimg.pl/285x100/", alt="img")
                                                        .card-content
                                                            .card-title Популярный товар
                                                            p текст
                                                            a.link(href="#!") Перейти к товару
                                                        .card-action.red.darken-4.white-text
                                                            p Цена 25 8888,22 р
                                                                a.link(href="#!").right Купить
                    .col
                        .hover-action
                            a.btn.indigo.darken-4.waves-effect.waves-orange.arrw Строительная фурнитура
                            .drop-down
                                .card#nav4
                                    .card-content.lighten-4
                                        div
                                            .row
                                                .col.l4.s12
                                                    ul.list
                                                        li
                                                            h5
                                                                strong
                                                                    a.link.indigo-text.flow-text(href="http://ultra-f.ru/catalog/instrument/") Инструмент плотнический
                                                        li
                                                            h5
                                                                strong
                                                                    a.link.indigo-text.flow-text(href="http://ultra-f.ru/catalog/pryamyie-i-izognutyie-trubyi-aksessuaryi/") Прямые, изогнутые трубы, аксессуары
                                                        li
                                                            h5
                                                                strong
                                                                    a.link.indigo-text.flow-text(href="http://ultra-f.ru/catalog/stellazhi-primenenie-magazin-garderobnaya-apteka/") Стеллажи - для магазина, гардеробной, аптеки
                                                .col.l4.s12
                                                    ul.list
                                                        li
                                                            h5
                                                                strong
                                                                    a.link.indigo-text.flow-text(href="http://ultra-f.ru/catalog/ruchnoj-instrument/") Саморезы, винты, болты
                                                        li
                                                            h5
                                                                strong
                                                                    a.link.indigo-text.flow-text(href="http://ultra-f.ru/catalog/krepezh/") Крепеж - скобяной мир
                                                .col.l4.s12
                                                    .card.hoverable
                                                        .card-image.waves-effect.waves-block.waves-light
                                                            a(href="#!")
                                                                img(src="http://fakeimg.pl/285x100/", alt="img")
                                                        .card-content
                                                            .card-title Популярный товар
                                                            p текст
                                                            a.link(href="#!") Перейти к товару
                                                        .card-action.red.darken-4.white-text
                                                            p Цена 25 8888,22 р
                                                                a.link(href="#!").right Купить
                    .col
                        .hover-action
                            a.btn.green.darken-3.waves-effect.waves-orange.arrw Сантехнические аксессуары
                            .drop-down
                                .card#nav5
                                    .card-content.lighten-4
                                        div
                                            .row
                                                .col.l4.s12
                                                    ul.list
                                                        li
                                                            h5
                                                                strong
                                                                    a.link.green-text.flow-text(href="http://ultra-f.ru/catalog/prisposoblenya,-krepezh-dlya-stekla/") Приспособления и крепеж для стекла
                                                .col.l4.s12
                                                    ul.list
                                                        li
                                                            h5
                                                                strong
                                                                    a.link.green-text.flow-text(href="http://ultra-f.ru/catalog/santexuzel-aksessuaryi/") Сантехузел - аксессуары для ванной комнаты   
                                                .col.l4.s12
                                                    .card.hoverable
                                                        .card-image.waves-effect.waves-block.waves-light
                                                            a(href="#!")
                                                                img(src="http://fakeimg.pl/285x100/", alt="img")
                                                        .card-content
                                                            .card-title Популярный товар
                                                            p текст
                                                            a.link(href="#!") Перейти к товару
                                                        .card-action.red.darken-4.white-text
                                                            p Цена 25 8888,22 р
                                                                a.link(href="#!").right Купить