doctype html  
html(lang='ru')  
    head
        title Ultra-F
        meta(charset='utf-8')
        meta(property='og:url' content='http://ultra-f.ru')
        meta(property='og:type' content='website')
        meta(property='og:title' content='Ультра-Ф | Главная')
        meta(property='og:description' content='Интернет-магазин немецкой мебельной и отделочной фурнитуры ultra-f.ru. Изготовление мебели под заказ.')
        meta(property='og:image' content='http://ultra-f.ru/images/logo.png')
        meta(name='description' content='Интернет-магазин немецкой мебельной и отделочной фурнитуры ultra-f.ru. Изготовление мебели под заказ.')
        meta(name='keywords' content='мебель, фурнитура')
        //- base(href='http://ultra-f.ru/')
        link(rel='icon' href='http://ultra-f.ru/favicon.ico' type='image/x-icon')
        link(rel='shortcut icon' href='http://ultra-f.ru/favicon.ico' type='image/x-icon')
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel='stylesheet', href='assets/css/style.css')
    body
        main.content-wrapper
            include components/header.pug
            include components/content.pug
            
        include components/footer.pug
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(type="text/javascript" src="assets/js/scripts.js")